{% load dictionary_extras %}
{% load static %}

<div id="query_result">
    {% for restaurant in restaurants %}
    <div class="restaurant-card">
        <div class="restaurant-card-header">
            <a href='{{restaurant.website_link}}'><h1>{{ restaurant.name }} {% if restaurant.is_fully_vegan %}Ⓥ{% endif %}</h1></a>
            
            
            <div class="distance">{{ restaurant.distance }} miles </div>
        </div>
        <div class="restaurant-address">
            {{ restaurant.address }}
        </div>
        {% if restaurant.menu %}
        <div class="restaurant-card-menu" 
            hx-swap="innerHTML"
            hx-post="{% url 'get_menu_sections' restaurant.menu.id %}"
            hx-trigger="load">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>