{% load dictionary_extras %}
{% load static %}

{% for restaurant in restaurants %}
<div class="restaurant-card">
    <div class="restaurant-card-header">
        <a href='{{restaurant.website_link}}'><h1>{{ restaurant.name }} {% if restaurant.is_fully_vegan %}Ⓥ{% endif %}</h1></a>
        
        
        <div class="distance">{{ restaurant.distance }} miles </div>
        <a href='{{restaurant.map_link}}'><img width=50 height=50 src="{% static 'images/google_map_icon.png' %}" /></a>
        
    </div>
    {% if restaurant.menu %}
    <div class="restaurant-card-menu" 
        hx-swap="innerHTML"
        hx-post="{% url 'get_menu_sections' restaurant.menu.id %}"
        hx-trigger="load">
    </div>
    {% endif %}
</div>
{% endfor %}
