{% load dictionary_extras %}

{% for restaurant in restaurants %}
<div class="restaurant-card">
    <div class="restaurant-card-header">
        <h1><a href="{{ restaurant.link }}">{{ restaurant.name }} {% if restaurant.is_fully_vegan %}Ⓥ{% endif %} </a></h1>
        {{restaurant.address}}  {{ restaurant.distance }} miles</p>
    </div>
    {% if restaurant.menu %}
    <div class="restaurant-card-menu" 
        hx-swap="innerHTML"
        hx-post="{% url 'get_menu_sections' restaurant.menu.id %}"
        hx-trigger="load">
    </div>
    {% endif %}
</div>
{% endfor %}
