main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#content {
    display: grid;
    grid-template-rows: 30px 5px auto;
}


.section-header {
    border: solid #eee 1px; 
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    /* margin-bottom: 30px; */
    /* box-shadow: 10px 5px 5px rgb(149, 146, 146); */
    background-color: dimgray;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    /* color: white; */
}

.section-body {
    border: solid #eee 1px; 
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    padding-left: 15px;
    padding-right: 15px;
}

.restaurant-card {
    margin-top: 30px;
    border: #495057;
    background-color: #1b1f22;
    border-radius: 8px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.restaurant-card-header {
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}

.restaurant-card-menu {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}