{% extends 'base.html' %}

{% block content %}

<div class="main-header">
    <div class="my-location">
        <button id="use_my_location" class="btn btn-success query-trigger" hx-target="#query_result" hx-include="[name='userLng'],[name='userLat']" hx-post="get_restaurants" hx-swap="outerHTML">Use current location</button>
    </div>
    <div class="address-container">
        <form id="user_location" hx-target='#query_result' hx-include="[name='userLng'],[name='userLat']" hx-post="get_restaurants" hx-swap="outerHTML" hx-trigger="submit" hx-indicator="#spinner">
            <input id="address" name="address" autocomplete="address" placeholder="Or enter your address"/>
            <button class="btn btn-success query-trigger" type="submit">Go</button>
        </form>
    </div>
    
        
    
</div>
<!-- <div id="query_result" hx-include="[name='userLng'],[name='userLat']" hx-post="get_restaurants"  hx-swap="innerHTML" hx-trigger="customLoad"></div> -->
<div id="query_result"></div>
<div class="d-flex justify-content-center">
    <div id="spinner" class="spinner-border htmx-indicator" role="status">
    <span class="sr-only"></span>
    </div>
</div>
{% endblock content %}